<%- include('partials/header') %>
<!-- rest of the page -->

<%- include('partials/navigator') %> <!-- Nav bar -->

<div class="container-fluid p-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4">
                <h2 class="text-center mb-4">Login</h2>
                <form action="/users/login" method="post">
                    <div class="mb-3">
                        <label for="userName" class="form-label">Username:</label>
                        <input type="text" class="form-control <%= username === '' ? '' : 'is-invalid' %>" id="userName" placeholder="Enter username" name="username" value="<%= username %>" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control <%= password === '' ? '' : 'is-invalid' %>" id="password" placeholder="Enter password" name="password" value="<%= password %>" required>
                        <div class="invalid-feedback text-center mb-3">
                            <%= username === '' ? '' : 'Username or password is incorrect.' %>
                        </div>
                    </div>



                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- end of the page -->
<%- include('partials/footer') %>
